@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',Arial,sans-serif;
}

.css-e8vs8u{
  padding: 8px !important;
  border-radius: 50% !important;
  overflow: visible !important;
  margin: 0px 10px !important;
  position: relative !important;
  justify-content: center !important;
}

@media only screen and (max-width: 900px){
  .MuiInputBase-input{
      width: 320px !important;
     
  }

  .css-1f5y6oa-MuiButtonBase-root-MuiIconButton-root{
      display: none !important;
  }

  .MuiBox-root css-1m04nb5{
      display: none !important;
  }

  
}